\:root
	--orisai-radius: 3px

	--orisai-color-border: #ecebeb
	--orisai-color-border-active: #95caf5
	--orisai-color-active: #0095ff
	--orisai-color-link: #125eae
	--orisai-color-warning: #FC4D25


.orisai-HighlightingElement
	--color: hsla(205, 100%, 50%, 1)
	--background: hsla(205, 100%, 50%, 0.32)
	--on-color: white

	border: 1px solid var(--color)
	background: var(--background)
	pointer-events: none
	position: absolute
	border-radius: var(--orisai-radius)
	transition: opacity 0.24s ease

.orisai-HighlightingElement--active
	transition-property: all
	will-change: transform
	z-index: 20227 /* 20228 ma panel od Tracy */

.orisai-HighlightingElement--invisible
	opacity: 0

.orisai-HighlightingElement--mode-info
	--color: hsla(205, 100%, 50%, 1)
	--background: hsla(205, 100%, 50%, 0.32)

.orisai-HighlightingElement--mode-php
	--color: #787cb5
	--background: rgba(120, 124, 181, 0.32)

.orisai-HighlightingElement--mode-latte
	--color: #F1A443
	--background: rgba(241, 164, 67, 0.32)

.orisai-HighlightingElement-name
	position: absolute
	padding: 2px 4px
	background-color: var(--color)
	color: var(--on-color)
	border-radius: var(--orisai-radius) 0 var(--orisai-radius) 0
	font-family: system, sans-serif
	font-size: 11px

//
// 3D Mode
//

.orisai-Inspector-3dMode
	perspective: 1800px
	transform-style: preserve-3d

.orisai-Inspector-3dMode body
	transform-origin: center center
