extensions:
	nette.http: Nette\Bridges\HttpDI\HttpExtension
	nette.routing: Nette\Bridges\ApplicationDI\RoutingExtension

	nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension

services:
	nette.application.presenterFactory:
		factory: OriNette\Application\Mapping\DefaultPresenterFactory
		type: OriNette\Application\Mapping\PresenterFactory
		arguments:
			factory: OriNette\Application\Mapping\DI\StrictPresenterFactoryCallback()
