includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		- '#^(.+)\|false.given\.$#'

		# Used in tests
		- '#^Trait (.+)ShortDefaultActionName is used zero times and is not analysed(.+)#'

		# Ignore deprecation
		- '#^Fetching deprecated class constant (.+) of class Nette\\Caching\\Cache(.+)#'
